<a href="https://colab.research.google.com/github/mosta82/NewJourneyForPractice/blob/main/newJourney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]

print(fruits)
print(fruits[0])           # apple
print(fruits[1])           # banana


fruits.append("orange")
print(fruits)

fruits.remove("banana")
print(fruits)


fruits[0] = "mango"
print(fruits)

['apple', 'banana', 'cherry']
apple
banana
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
['mango', 'cherry', 'orange']

In [ ]:
person = {
    "name": "Mostafiz",
    "age": 25,
    "city": "Dhaka"
}

print(person)
print(person["name"])   # Mostafiz

# value change
person["age"] = 26
print(person)

# new key add
person["profession"] = "Engineer"
print(person)

# delete
del person["city"]
print(person)

{'name': 'Mostafiz', 'age': 25, 'city': 'Dhaka'}
Mostafiz
{'name': 'Mostafiz', 'age': 26, 'city': 'Dhaka'}
{'name': 'Mostafiz', 'age': 26, 'city': 'Dhaka', 'profession': 'Engineer'}
{'name': 'Mostafiz', 'age': 26, 'profession': 'Engineer'}

In [ ]:
squares = [x*x for x in range(1, 6)]
print(squares)   # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
unique = {x%3 for x in [1,2,3,4,5,6,7]}
print(unique)   # {0, 1, 2}

{0, 1, 2}

In [ ]:
sqr_dict = {x: x*x for x in range(1, 6)}
print(sqr_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
gen = (x*x for x in range(1, 4))
print(gen)  # <generator object>

for val in gen:
    print(val)

<generator object <genexpr> at 0x7cf210696dc0>
1
4
9

In [ ]:
gen = (x * 2 for x in range(1, 6))
print(gen)  # <generator object>
for val in gen:
  print(val)

<generator object <genexpr> at 0x7cf210697370>
2
4
6
8
10

In [ ]:
stack = []

# Push
stack.append("A")
stack.append("B")
stack.append("C")

print("Stack after pushes:", stack)

# Pop
top = stack.pop()
print("Popped item:", top)

print("Stack now:", stack)

Stack after pushes: ['A', 'B', 'C']
Popped item: C
Stack now: ['A', 'B']

In [ ]:
from collections import deque

queue = deque()

# Enqueue
queue.append("A")
queue.append("B")
queue.append("C")

print("Queue after enqueues:", queue)

# Dequeue
front = queue.popleft()
print("Dequeued item:", front)

print("Queue now:", queue)

Queue after enqueues: deque(['A', 'B', 'C'])
Dequeued item: A
Queue now: deque(['B', 'C'])

In [ ]:
try:
    result = 10 / 0
    print(result)
except:
    print("Not division by zero")

Not division by zero

In [ ]:
try:
    number = int("hello")
except ValueError:
    print("doesn't convert to integer")

doesn't convert to integer

In [ ]:
try:
    x = int(input("give a integer number: "))
    result = 10 / x
except ValueError:
    print("give number !")
except ZeroDivisionError:
    print("à§¦ don't division !")

give a integer number: 12

In [ ]:
try:
    print("programm start")
    y = 10 / 5
except:
    print("Error it")
else:
    print("all good now")
finally:
    print("this block all time ready")

programm start
all good now
this block all time ready

In [ ]:
def check_age(age):
    if age < 0:
        raise ValueError("Age do not negative !")
    print("Age:", age)

try:
    check_age(-5)
except ValueError as e:
    print("Error:", e)

Error: Age do not negative !

In [ ]:
try:
    10 / 0
except ZeroDivisionError as e:
    print("Error Details:", e)

Error Details: division by zero

In [ ]:
try:
    x = int(input("give number: "))
    result = 100 / x
except ZeroDivisionError:
    print("do not divide by number")
except ValueError:
    print("give number!")
except Exception as e:
    print("don't know Problem:", e)
else:
    print("Result:", result)
finally:
    print("Thanks!")

give number: 10
Result: 10.0
Thanks!

In [ ]:
add = lambda x, y: x + y

print(add(5, 3))   # 8

8

In [ ]:
square = lambda n: n * n

print(square(4))   # 16

16

In [ ]:
sumt = lambda a,b,c: a+b+c
print(sumt(1,2,3))

6

In [ ]:
numbers = [1, 2, 3, 4, 5]
doubled = map(lambda x: x * 2, numbers)

print(set(doubled))   # [2, 4, 6, 8, 10]

{2, 4, 6, 8, 10}

In [ ]:
names = ["mostafiz", "rahman", "python"]
upper_names = map(lambda s: s.upper(), names)

print(list(upper_names))  # ['MOSTAFIZ', 'RAHMAN', 'PYTHON']

['MOSTAFIZ', 'RAHMAN', 'PYTHON']

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
evens = filter(lambda x: x % 2 == 0, nums)

print(list(evens))  # [2, 4, 6]

[2, 4, 6]

In [ ]:
names = ["Tom", "John", "Alexander"]
long_names = filter(lambda s: len(s) > 3, names)

print(list(long_names))  # ['John', 'Alexander']

['John', 'Alexander']

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
number = filter(lambda x: x>5,numbers)
print(list(number))

[6, 7, 8, 9, 10]

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, nums)

print(total)   # 15

15

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x * y, nums)

print(total)

120

In [ ]:
class Person:
    pass

# Object making

p1 = Person()
print(p1)

<__main__.Person object at 0x7cf200ab66d0>

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Object making
p1 = Person("Mostafiz", 25)

print(p1.name)   # Mostafiz
print(p1.age)    # 25

Mostafiz
25

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print("Hello,", self.name)

p = Person("Mostafizur Rahman")
p.greet()   # Hello, Rahman

Hello, Mostafizur Rahman

In [ ]:
class Car:
    def __init__(self, model):
        self.model = model
        print("Car created:", model)

c = Car("Tesla")

Car created: Tesla

In [ ]:
class Animal:
    def speak(self):
        print("Animal sound")

class Dog(Animal):
    def bark(self):
        print("Woof!")

d = Dog()
d.speak()   # Animal sound
d.bark()    # Woof!

Animal sound
Woof!

In [ ]:
class Cat:
    def sound(self):
        print("Meow")

class Dog:
    def sound(self):
        print("Woof")

# two object
c = Cat()
d = Dog()
print(c.sound())


# for animal in (c, d):
#     animal.sound()

Meow
None

In [ ]:
def say_hello(name):
    print("Hello,", name)

say_hello("Mostafiz")

Hello, Mostafiz

In [ ]:
class Student:
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id

    def show_info(self):
        print(f"Student Name: {self.name}")
        print(f"Student ID: {self.student_id}")
class GraduateStudent(Student):
    def __init__(self, name, student_id, thesis_title):
        # Parent class (Student) to init() call
        super().__init__(name, student_id)
        self.thesis_title = thesis_title

    # show_info() override do
    def show_info(self):
        print(f"Graduate Student Name: {self.name}")
        print(f"Student ID: {self.student_id}")
        print(f"Thesis Title: {self.thesis_title}")
# general student
s1 = Student("Mostafiz", "ST123")
s1.show_info()

print("\n")

# Graduate student
g1 = GraduateStudent("Rahman", "GR456", "AI in FinTech Fraud Detection")
g1.show_info()

In [ ]:
import os

if os.path.exists("mymodule.py"):
    print("file  here")
else:
    print("file not here")

file not here

In [ ]:
count = 5

while count > 0:
    print("Counting down:", count)
    count -= 1

print("Blast off!")

Counting down: 5
Counting down: 4
Counting down: 3
Counting down: 2
Counting down: 1
Blast off!

In [ ]:
def calculate_discount(price, discount_percent):
    return price - (price * discount_percent / 100)

final_price = calculate_discount(1000, 10)
print("Discounted price:", final_price)

Discounted price: 900.0

In [ ]:
fruits = ["apple", "banana", "mango"]
print(fruits[0])        # Output: apple
print(fruits[-1])       # Output: mango
fruits.append("orange") # Add to end
print(fruits)

apple
mango
['apple', 'banana', 'mango', 'orange']

In [ ]:
cart = []
cart.append("T-shirt")
cart.append("Shoes")
print("Cart:", cart)

Cart: ['T-shirt', 'Shoes']

In [ ]:
location = (23.78, 90.41)
print("Latitude:", location[0])

Latitude: 23.78

In [ ]:
places = [("Dhaka", 23.81, 90.41), ("Cox's Bazar", 21.45, 91.97)]
for name, lat, long in places:
    print(f"{name} is at ({lat}, {long})")

Dhaka is at (23.81, 90.41)
Cox's Bazar is at (21.45, 91.97)

In [ ]:
colors = {"red", "green", "blue", "green"}
print(colors)  # No duplicate

{'green', 'blue', 'red'}

In [ ]:
users = ["alice", "bob", "alice", "charlie"]
unique_users = set(users)
print("Unique users:", unique_users)

Unique users: {'charlie', 'alice', 'bob'}

In [ ]:
response = {
    "status": "success",
    "data": {
        "id": 101,
        "username": "johndoe",
        "active": True
    }
}
print(response["data"]["username"])

johndoe

In [ ]:
squares = [x * x for x in range(1, 6)]
print(squares)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
evens = [n for n in nums if n % 2 == 0]
print("Even numbers:", evens)

Even numbers: [2, 4, 6]

In [ ]:
users = ["alice", "bob", "charlie"]
emails = {user: f"{user}@gmail.com" for user in users}
print(emails)

{'alice': 'alice@gmail.com', 'bob': 'bob@gmail.com', 'charlie': 'charlie@gmail.com'}

In [ ]:
# Dictionary comprehension
squares = {n: n**2 for n in range(1, 6)}
print("Squares:", squares)

Squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

In [ ]:
try:
  num = int('abc')
except ValueError:
  print("Cannot convert to integer.")
except ZeroDivisionError:
  print("Division by Zero")

Cannot convert to integer.

In [12]:
try:
    a = float(input("Enter numerator: "))
    b = float(input("Enter denominator: "))

    result = a / b
    print("Result:", result)

except ZeroDivisionError:
    print("Error: Cannot divide by zero!")
except ValueError:
    print("Error: Please enter valid numbers.")

Enter numerator: 12
Enter denominator: 2
Result: 6.0

In [17]:
def parse_int(value):
    try:
        return int(value)
    except ValueError:
        raise ValueError("Cannot convert to integer. Please enter a valid whole number.")

# Test cases
print(parse_int("123"))    # âœ… Works
print(parse_int("abc"))    # âŒ Raises error

123

ValueError: Cannot convert to integer. Please enter a valid whole number.

In [18]:
def parse_int(value):
    try:
        return int(value)
    except ValueError:
        raise ValueError("Cannot convert to integer. Please enter a valid whole number.") from None

# Test cases
print(parse_int("123"))   # Works
print(parse_int("abc"))   # Raises clean error

123

ValueError: Cannot convert to integer. Please enter a valid whole number.

In [20]:
try:
    # Try reading file
    file = open("myfile.txt", "r")
    content = file.read()
    print("ðŸ“„ File content:\n", content)
    file.close()

except FileNotFoundError:
    # If file doesn't exist, create it
    file = open("myfile.txt", "w")
    file.write("New file created.")
    file.close()
    print("âœ… myfile.txt not found. New file created.")

ðŸ“„ File content:
 New file created.

In [21]:
add = lambda x, y: x + y
print(add(5, 3))  # Output: 8

8

In [22]:
pairs = [(1, 3), (2, 2), (4, 1)]
sorted_pairs = sorted(pairs, key=lambda pair: pair[1])
print(sorted_pairs)

[(4, 1), (2, 2), (1, 3)]

In [23]:
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, nums))
print(squared)

[1, 4, 9, 16]

In [24]:
names = ["alice", "bob", "charlie"]
upper_names = list(map(str.upper, names))
print(upper_names)

['ALICE', 'BOB', 'CHARLIE']

In [25]:
nums = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)

[2, 4, 6]

In [26]:
from functools import reduce

nums = [1, 2, 3, 4]
total = reduce(lambda x, y: x + y, nums)
print(total)

10

In [28]:
words = ["Hello", "world", "Python"]
sentence = reduce(lambda x, y: x + " " + y, words)
print(sentence)

Hello world Python

In [30]:
nums = [1, 2, 3, 4]
tripled = list(map(lambda x: x * 3, nums))
print("Tripled numbers:", tripled)

Tripled numbers: [3, 6, 9, 12]

In [31]:
words = ["hi", "hello", "yes", "Python"]
long_words = list(filter(lambda w: len(w) > 3, words))
print("Words longer than 3 letters:", long_words)

Words longer than 3 letters: ['hello', 'Python']

In [32]:
from functools import reduce

nums = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, nums)
print("Product of all numbers:", product)

Product of all numbers: 24

In [33]:
class Dog:
    def __init__(self, name, breed):
        self.name = name    # attribute
        self.breed = breed

    def bark(self):
        print(f"{self.name} says woof!")

# Create objects
dog1 = Dog("Buddy", "Labrador")
dog2 = Dog("Max", "Beagle")

# Call methods
dog1.bark()
dog2.bark()

Buddy says woof!
Max says woof!

In [36]:
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print("Animal makes a sound.")

# Dog inherits from Animal
class Dog(Animal):
    def speak(self):
        print(f"{self.name} says woof!")

d = Animal("OK")
d.speak()
dog = Dog("Rex")
dog.speak()

Animal makes a sound.
Rex says woof!