<a href="https://colab.research.google.com/github/mosta82/NewJourneyForPractice/blob/main/newJourney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]

print(fruits)
print(fruits[0])           # apple
print(fruits[1])           # banana


fruits.append("orange")
print(fruits)

fruits.remove("banana")
print(fruits)


fruits[0] = "mango"
print(fruits)

['apple', 'banana', 'cherry']
apple
banana
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
['mango', 'cherry', 'orange']

In [1]:
person = {
    "name": "Mostafiz",
    "age": 25,
    "city": "Dhaka"
}

print(person)
print(person["name"])   # Mostafiz

# value change
person["age"] = 26
print(person)

# new key add
person["profession"] = "Engineer"
print(person)

# delete
del person["city"]
print(person)

{'name': 'Mostafiz', 'age': 25, 'city': 'Dhaka'}
Mostafiz
{'name': 'Mostafiz', 'age': 26, 'city': 'Dhaka'}
{'name': 'Mostafiz', 'age': 26, 'city': 'Dhaka', 'profession': 'Engineer'}
{'name': 'Mostafiz', 'age': 26, 'profession': 'Engineer'}

In [2]:
squares = [x*x for x in range(1, 6)]
print(squares)   # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [4]:
unique = {x%3 for x in [1,2,3,4,5,6,7]}
print(unique)   # {0, 1, 2}

{0, 1, 2}