<a href="https://colab.research.google.com/github/mosta82/NewJourneyForPractice/blob/main/newJourney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

age = 22
name = "Mostafizur Rahman"
print("Name:", name)
print("Age:", age)

Name: Mostafizur Rahman
Age: 22

In [ ]:
# for loop
for i in range(5):
    print("Number:", i)

# while loop
count = 1
while count <= 5:
    print("Count:", count)
    count += 1

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [ ]:
import numpy as np


arr = np.array([1, 2, 3, 4, 5])
print(arr)


matrix = np.array([[1, 2], [3, 4]])
print(matrix)


print("Sum:", arr.sum())
print("Mean:", arr.mean())
print("Multiply by 2:", arr * 2)

[1 2 3 4 5]
[[1 2]
 [3 4]]
Sum: 15
Mean: 3.0
Multiply by 2: [ 2  4  6  8 10]

In [ ]:
import pandas as pd

data = {
    "Name": ["Mostafiz", "Rahim", "Karim"],
    "Age": [22, 25, 30],
    "Country": ["Bangladesh", "India", "Nepal"]
}

df = pd.DataFrame(data)
print(df)

print(df["Age"])

print(df[df["Age"] > 23])

       Name  Age     Country
0  Mostafiz   22  Bangladesh
1     Rahim   25       India
2     Karim   30       Nepal
0    22
1    25
2    30
Name: Age, dtype: int64
    Name  Age Country
1  Rahim   25   India
2  Karim   30   Nepal

In [3]:
def bill_split(amount, friends):
    amount = amount * 1.20   # Add 20% tax
    bill = amount / friends
    return round(bill, 2)

# Take inputs
amount = float(input("Enter subtotal: "))
friends = int(input("Enter number of friends: "))

print(bill_split(amount, friends))

Enter subtotal: 100
Enter number of friends: 5
24.0