<a href="https://colab.research.google.com/github/mosta82/NewJourneyForPractice/blob/main/newJourney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]

print(fruits)
print(fruits[0])           # apple
print(fruits[1])           # banana


fruits.append("orange")
print(fruits)

fruits.remove("banana")
print(fruits)


fruits[0] = "mango"
print(fruits)

['apple', 'banana', 'cherry']
apple
banana
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
['mango', 'cherry', 'orange']

In [1]:
person = {
    "name": "Mostafiz",
    "age": 25,
    "city": "Dhaka"
}

print(person)
print(person["name"])   # Mostafiz

# value change
person["age"] = 26
print(person)

# new key add
person["profession"] = "Engineer"
print(person)

# delete
del person["city"]
print(person)

{'name': 'Mostafiz', 'age': 25, 'city': 'Dhaka'}
Mostafiz
{'name': 'Mostafiz', 'age': 26, 'city': 'Dhaka'}
{'name': 'Mostafiz', 'age': 26, 'city': 'Dhaka', 'profession': 'Engineer'}
{'name': 'Mostafiz', 'age': 26, 'profession': 'Engineer'}

In [2]:
squares = [x*x for x in range(1, 6)]
print(squares)   # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [4]:
unique = {x%3 for x in [1,2,3,4,5,6,7]}
print(unique)   # {0, 1, 2}

{0, 1, 2}

In [5]:
sqr_dict = {x: x*x for x in range(1, 6)}
print(sqr_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [6]:
gen = (x*x for x in range(1, 4))
print(gen)  # <generator object>

for val in gen:
    print(val)

<generator object <genexpr> at 0x7cf210696dc0>
1
4
9

In [8]:
gen = (x * 2 for x in range(1, 6))
print(gen)  # <generator object>
for val in gen:
  print(val)

<generator object <genexpr> at 0x7cf210697370>
2
4
6
8
10

In [9]:
stack = []

# Push
stack.append("A")
stack.append("B")
stack.append("C")

print("Stack after pushes:", stack)

# Pop
top = stack.pop()
print("Popped item:", top)

print("Stack now:", stack)

Stack after pushes: ['A', 'B', 'C']
Popped item: C
Stack now: ['A', 'B']

In [10]:
from collections import deque

queue = deque()

# Enqueue
queue.append("A")
queue.append("B")
queue.append("C")

print("Queue after enqueues:", queue)

# Dequeue
front = queue.popleft()
print("Dequeued item:", front)

print("Queue now:", queue)

Queue after enqueues: deque(['A', 'B', 'C'])
Dequeued item: A
Queue now: deque(['B', 'C'])

In [12]:
try:
    result = 10 / 0
    print(result)
except:
    print("Not division by zero")

Not division by zero

In [13]:
try:
    number = int("hello")
except ValueError:
    print("doesn't convert to integer")

doesn't convert to integer

In [15]:
try:
    x = int(input("give a integer number: "))
    result = 10 / x
except ValueError:
    print("give number !")
except ZeroDivisionError:
    print("à§¦ don't division !")

give a integer number: 12

In [19]:
try:
    print("programm start")
    y = 10 / 5
except:
    print("Error it")
else:
    print("all good now")
finally:
    print("this block all time ready")

programm start
all good now
this block all time ready

In [23]:
def check_age(age):
    if age < 0:
        raise ValueError("Age do not negative !")
    print("Age:", age)

try:
    check_age(-5)
except ValueError as e:
    print("Error:", e)

Error: Age do not negative !

In [21]:
try:
    10 / 0
except ZeroDivisionError as e:
    print("Error Details:", e)

Error Details: division by zero

In [25]:
try:
    x = int(input("give number: "))
    result = 100 / x
except ZeroDivisionError:
    print("do not divide by number")
except ValueError:
    print("give number!")
except Exception as e:
    print("don't know Problem:", e)
else:
    print("Result:", result)
finally:
    print("Thanks!")

give number: 10
Result: 10.0
Thanks!

In [26]:
add = lambda x, y: x + y

print(add(5, 3))   # 8

8

In [27]:
square = lambda n: n * n

print(square(4))   # 16

16

In [28]:
sumt = lambda a,b,c: a+b+c
print(sumt(1,2,3))

6

In [30]:
numbers = [1, 2, 3, 4, 5]
doubled = map(lambda x: x * 2, numbers)

print(set(doubled))   # [2, 4, 6, 8, 10]

{2, 4, 6, 8, 10}

In [31]:
names = ["mostafiz", "rahman", "python"]
upper_names = map(lambda s: s.upper(), names)

print(list(upper_names))  # ['MOSTAFIZ', 'RAHMAN', 'PYTHON']

['MOSTAFIZ', 'RAHMAN', 'PYTHON']

In [32]:
nums = [1, 2, 3, 4, 5, 6]
evens = filter(lambda x: x % 2 == 0, nums)

print(list(evens))  # [2, 4, 6]

[2, 4, 6]

In [33]:
names = ["Tom", "John", "Alexander"]
long_names = filter(lambda s: len(s) > 3, names)

print(list(long_names))  # ['John', 'Alexander']

['John', 'Alexander']

In [34]:
numbers = [1,2,3,4,5,6,7,8,9,10]
number = filter(lambda x: x>5,numbers)
print(list(number))

[6, 7, 8, 9, 10]